@model proiectDAW.Models.Bookmark

@if (TempData["message"] != null)
{
    <div class="@ViewBag.MsgType p-3 rounded-3 text-center mb-5">
        @ViewBag.Msg
    </div>
}
<br />

@if (ViewBag.UserCurent == Model.UserId)
{
    <div class="container">

        <div class="row">

            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div class="card">

                    <form method="post" action="/Photos/New/@Model.Id">
                        <input type="hidden" name="BookmarkId" value="@Model.Id" />
                        <input type="hidden" name="UserId" value="@ViewBag.UserCurent" />
                        <br/>
                        <div class="d-flex justify-content-center">
                            <label style="color:  rgb(115, 15, 105)">Adauga adresa URL a imaginii: </label>
                        </div>
                        <br />
                        <textarea class="form-control" name="URL"></textarea>
                        @Html.ValidationMessage("URL", "", new { @class = "text-danger"})

                        <br />
                        <div class="d-flex justify-content-center">
                        <button class="buton_cautare button1" type="submit">+ Adauga imaginea</button>
                        
                        </div>
                    </form>
                    <p></p>
                </div>

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
}
<br />

@if (ViewBag.UserCurent == Model.UserId)
{
    <div class="container">

        <div class="row">

            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div class="card">

                    <form method="post" asp-controller="Videos" asp-action="New">
                        <input type="hidden" name="BookmarkId" value="@Model.Id" />
                        <input type="hidden" name="UserId" value="@ViewBag.UserCurent" />
                        <div class="d-flex justify-content-center">
                        <label style="color:  rgb(115, 15, 105)">Adauga adresa URL a videoclipului: </label>
                        </div>
                        <br />
                        <textarea class="form-control" name="URL"></textarea>
                        @Html.ValidationMessage("URL", "", new { @class = "text-danger"})

                        <br />
                        <div class="d-flex justify-content-center">
                            <button class="buton_cautare button1 " type="submit">+Adauga video</button>
                        </div>
                    </form>
                    <p></p>
                </div>

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
}
<br />


<div class="card mb-3">
    <div class="card-body">
        <h4 class="card-title " style="color:  rgb(170, 51, 106); font-family: 'Helvetica', sans-serif;">@Model.Title</h4>
        <p class="card-text" style="color:  rgb(170, 51, 106); font-family: 'Helvetica', sans-serif;">@Model.Description</p>
        <p class="text-muted">Creat de: @Model.User.UserName</p>
        <div class="d-flex justify-content-between flex-wrap mb-5 ">
            @foreach (var photo in Model.Photos)
            {
                <div class="card mb-5" style="max-width: 25rem; max-height: 25rem">
                    <img class="card-img-top" src="@photo.URL" alt="Card image cap">
                    <p></p>
                    <div class="d-flex flex-row justify-content-around">
                        @if (ViewBag.EsteAdmin)
                        {


                            <form method="post" action="/Photos/Delete/@photo.Id">
                                <button class="btn btn-outline-danger" type="submit" onclick="return confirm('Sunteti sigur ca doriti sa stergeti fotografia?')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                    </svg>
                                </button>
                            </form>

                        }
                        @if (photo.UserId == ViewBag.UserCurent)
                        {


                            <a class="btn btn-outline-primary" href="/Photos/Edit/@photo.Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                </svg>
                            </a>

                            @if (!ViewBag.EsteAdmin)
                            {

                                <form method="post" action="/Photos/Delete/@photo.Id">
                                    <button class="btn btn-outline-danger" type="submit" onclick="return confirm('Sunteti sigur ca doriti sa stergeti fotografia?')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                        </svg>
                                    </button>
                                </form>

                            }

                        }
                    </div>
                    <p></p>
                </div>
                <br />
            }
        </div>
          <div class="d-flex justify-content-between flex-wrap mb-5">
            @foreach (var video in Model.Videos)
            {
                <div class="card" style="max-width: 25rem; max-height: 25rem">
                    <iframe class="embed-responsive-item card-img-top" src="@video.URL" allowfullscreen></iframe>
                    <p></p>
                 <div class="d-flex flex-row justify-content-around">
                   
                    @if (ViewBag.EsteAdmin)
                    {
                               
                            <form method="post" action="/Videos/Delete/@video.Id">
                                        <button class="btn btn-outline-danger" type="submit" onclick="return confirm('Sunteti sigur ca doriti sa stergeti video-ul?')">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                            </svg>
                                        </button>
                            </form>
                        
                    }
                    @if (video.UserId == ViewBag.UserCurent)
                    {
                       
                                        <a class="btn btn-outline-primary" href="/Videos/Edit/@video.Id">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                            </svg>
                                        </a>
                            
                            @if (!ViewBag.EsteAdmin)
                            {
                                       
                                    <form method="post" action="/Videos/Delete/@video.Id">
                                                <button class="btn btn-outline-danger" type="submit" onclick="return confirm('Sunteti sigur ca doriti sa stergeti video-ul?')">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                                    </svg>
                                                </button>
                                    </form>
                                
                            }
                       
                    }
                   

                    </div>
                    <p></p>
                </div>
               
            }

        </div>
   


   
  <br />


   <p class="card-text"><small class="text-muted">@Model.Date</small></p>
    
  <br />

        <div class="d-flex justify-content-center">
        @if (ViewBag.EsteAdmin)
        {
            <form method="post" action="/Bookmarks/Delete/@Model.Id">
                        <button type="submit" class="btn btn-outline-danger" onclick="return confirm('Sunteti sigur ca doriti sa stergeti Bookmark-ul?')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                            </svg>Stergere bookmark
                        </button>
            </form>
        }
        <br/>
        @if (Model.UserId == ViewBag.UserCurent)
        {
           
                        <a class="btn btn-outline-info" href="/Bookmarks/Edit/@Model.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                            </svg>Editeaza Bookmark-ul
                        </a>
                @if (!ViewBag.EsteAdmin)
                {
                    <form method="post" action="/Bookmarks/Delete/@Model.Id">
                                <button type="submit" class="btn btn-outline-danger" onclick="return confirm('Sunteti sigur ca doriti sa stergeti bookmark-ul')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                    </svg>Stergere bookmark
                                </button>
                    </form>
                }
           
        }
        <br />
        <br />
    </div>

   </div>

 </div>


<form method="post" asp-controller="Bookmarks" asp-action="AddCategory">
    <input type="hidden" name="BookmarkId" value="@Model.Id" />
    <div class="d-flex flex-row justify-content-center p-3 border-1 border-top">

        <select name="CategoryId" class="form-control custom-select">
                <option selected>Adauga acest bookmark intr-o categorie</option>
                @foreach (var cat in ViewBag.UserCategories)
                {
                    <option value="@cat.Id">@cat.CategoryName</option>
                }
            </select>

      
        
            <input type="submit" class="buton_cautare button1" value="+" />
        
    </div>
</form>

<div class="container">

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="card">

                <form method="post" action="/Bookmarks/Show/@Model.Id">

                    <div class="card-body">

                        <input type="hidden" name="BookmarkId" value="@Model.Id" />

                        <label>Continut comentariu</label>
                        <br />

                        <textarea class="form-control" name="Text"></textarea>

                        @Html.ValidationMessage("Text", null, new { @class = "text-danger"})

                        <br /><br />

                        <button class="buton_cautare button1 " type="submit">+Adauga comentariul</button>

                    </div>

                </form>

            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

</div>
<p></p>

   

<div class="card mb-3">
<div class="card-body">
<div class="col-md-8">

@foreach (var comm in Model.Comments)
{

            <div class="card mb-5" style="max-width: 100rem; max-height: 25rem">
                    <div class="card-body d-flex flex-column">

                    <h5>@comm.Text</h5>
                    <p class="text-muted">Postat de: @comm.User.UserName</p>
                    <small>@comm.Date</small>

                </div>
                <br>
                <div class="d-flex justify-content-end">
                @if (ViewBag.EsteAdmin)
                {
                      
                        <form method="post" action="/Comments/Delete/@comm.Id">

                            <button class="btn btn-outline-danger" type="submit" onclick="return confirm('Sunteti sigur ca doriti sa stergeti comenatriul?')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                </svg>
                            </button>

                        </form>

                   
                }
                @if (comm.UserId == ViewBag.UserCurent)
                {

                   

                      
                            <a class="btn btn-outline-primary" href="/Comments/Edit/@comm.Id"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                            </svg></a>

                      

                        @if (!ViewBag.EsteAdmin)
                        {
                          

                                <form method="post" action="/Comments/Delete/@comm.Id">

                                    <button class="btn btn-outline-danger" type="submit" onclick="return confirm('Sunteti sigur ca doriti sa stergeti comenatriul?')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                        </svg>
                                    </button>

                                </form>

                        }
                  
                }
                        </div>

                <br />

          </div>  
}
        </div>

        <div class="col-md-2"></div>

    </div>

</div>